<!--Invoice Screen-->
<ion-view view-title="{{'INVOICE' | translate }}">
  <ion-content>
    <div align='right'>{{'INVOICE_NO' | translate }} {{invoiceNumber}}</div>
  	 <div class="list">
        <div  class="row item item-input" ng-repeat="item in itemsInCart track by $index">
          <div class="col col-20"><img align='middle' src="img/{{item.image}}" style="width:100%;height:50%"></div>
          <div class="col"><div class='center-vertical margin-10'><h2>{{ item.name }}</h2><h4>{{ item.category }}</h4><h4>Quantity: {{item.quantity}}</h4><h4>Price per unit: {{item.price | currency:"$"}}</h4></div></div>
          <div class="col"><h2 class='center-vertical' align='right' ng-init='total = item.quantity*item.price'>{{total | currency:"$"}}</h2></div>          
        </div>
     </div>
     <div align='right'>{{'TOTAL' | translate }}:{{getTotal() | currency:"$"}}</div>
     <div align='right'>{{'DISCOUNT' | translate }}:{{calculateDiscount() | currency:"$"}}</div>
     <div align='right'>{{'FINAL_AMOUNT' | translate }}:{{getTotal() - calculateDiscount() | currency:"$"}}</div>   
  </ion-content>
</ion-view>