from other reppo



.center {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin:0 auto;
    width:100%;
}

.margin-10{
    margin-left: 10px;
    margin-top: 10px;
}


.center-vertical{
    height: 90px;
    line-height: 90px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
}
